

.title{
    font-weight: 700;
    color:white;
    width: 50px;
    margin-right: 100px;
}

@media  (min-width: 768px) {
	.title {
		text-align: center;
	}
	
}

.contact__img {
    width: 250px;
    height: 250px;
    
}

@media (max-width: 768px) {
    .contact__img {

        width: 150px;
        height: 150px;
    }
}

@media (max-width: 320px) {
    .contact__img {
        margin-top: 50px;
        width: 100px;
        height: 100px;
    }
}

