/* reset

/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    text-decoration: none;
}

/* fin du reset */



.background__habitat-nav {
    background: #082B3A;
    height: 150px;
    width: 100%;
}

.logo {
    height: 150px;
    width: auto;
}

@media (max-width: 768px) {
    .logo {
        height: 100px;
    }
}



.title{
    font-weight: 700;
    color:white;
    width: 50px;

}

@media screen and (min-width: 768px) {
	.title {
		text-align: center;
	}
	
}

.habitat__title{
	font-size: 1.5em;
	font-weight: 700;
	color: #008000;
	margin-top: 100px;
}

.habitat__image {
    max-width: 100%;
    height: auto;
    border-radius: 30% 70% 30% 70% / 100% 0% 100% 0%;
	margin-top: 100px;
}

.habitat__paragraph {
    font-size: 25px;
    color:#008000;
	margin-top: 100px;
}

@media (min-width: 320px) and (max-width: 425px){
	.habitat__title{
		font-size: 1.2em;
		margin-top: 50px;
	}


    .habitat__image{
        width: auto;
		height: 150px;
		margin-top: 50px;
    }
	.habitat__paragraph{
		font-size: 16px;
		margin-top: 50px;
	} 
}

@media (min-width: 768px) and (max-width: 1024px){
	.habitat__image{
		width: 300px;
		height: auto;
		margin-top: 50px;
	}
	.habitat__paragraph{
		font-size: 20px;
		margin-top: 50px;
		
	} 
}

.card {
	width: 250px;
	height: auto;
	margin-top: 50px;
	margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
	border-color:#800080;
	border-radius: 0% 0% 15% 15% / 0% 0% 15% 15%;
}

@media (min-width: 320px) and (max-width: 425px){
	.card {
		width: 200px;
		height: auto;
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 768px) and (max-width: 1024px){
	.card {
		width: 200px;
		height: auto;
		margin-top: 25px;
		margin-left: auto;
		margin-right: auto;
		
	}
}

.habitat__card-img-top{
    width: 250px;
    height: 150px;
}

@media (min-width: 768px) and (max-width: 1024px){
    .habitat__card-img-top{
        width: 200px;
        height: 150px;
    }
}

@media (min-width: 320px) and (max-width: 425px){
    .habitat__card-img-top{
        width: 200px;
        height: 100px;
    }
}

.habitat__card-title {
	font-weight: 500;
	font-size: 30px;
	color: #008000;
	font-weight: 700;
	margin-top: 25px;
	margin-bottom: 20px;
}

.habitat__card-text {
	color: #008000;
	font-size: 1.5rem;
}

.btn {
	font-size: 20px;
	color:white;
	background-color:#008000;
	margin-top: 20px;
		&:hover {
			background-color: #800080;
			transition: 0.7s;
			color:white;
	}
}

@media (min-width: 320px) and (max-width: 425px){
	.habitat__card-title {
		font-size: 20px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.habitat__card-text {
		font-size: 16px;
	}
	.btn {
		font-size: 16px;
		margin-top: 10px;
	}
	
}

@media (min-width: 768px) and (max-width: 1024px){
	.habitat__card-title {
		font-size: 25px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.habitat__card-text {
		font-size: 1.2rem;
	}
	.btn {
		font-size: 18px;
		margin-top: 20px;
	}
}