/* reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom right,
  rgb(255, 255, 255) 30%,
  rgb(173, 216, 230) 60%,
  rgb(0, 128, 255) 100%);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    text-decoration: none;
}

/* fin du reset */


.background__habitat-title {
    background: linear-gradient(to bottom right,
    rgb(255, 255, 255) 30%,
    rgb(173, 216, 230) 60%,
    rgb(0, 128, 255) 100%);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0.1, 0.2, 0.5); 
    margin-left: auto;
    margin-right: auto;
}

.title{
    font-size: 80px;
    font-weight: 500;
    color:navy;

}

.habitat__title {
    font-size: 80px;
    font-weight: 500;
    color:navy;
}

.habitat__image {
    width: 800px;
    height: 500px;
    vertical-align: inherit;
    border-radius: 30% 70% 30% 70% / 100% 0% 100% 0%;
}

.habitat__paragraph {
    font-size: 25px;
    color:navy;
}



.card {
    width: 250px;
    
}

.card-body {
    margin-top: 20px;
}

.card-img-top{
    max-height: 150px;
    max-width: auto
    ;
}

.card-title {
    color:navy;
}

.btn {
    color:navy;
    background-color:lightblue;
    &:hover {
        color:white;
        background-color: rgb(5, 85, 246);
    }

}