/* reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Roboto', sans-serif;
        color: #6B491A;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
}

/* fin du reset */

.logo {
    height: 150px;
    width: auto;
}

@media screen and (max-width: 768px){
    .logo{
        height: 100px;
    }
}

.navbar-toggler{
    background-color: white;
}


.nav__background{
    background: #082B3A;
    height: 150px;
    width: 100%;

}

.nav-link{
    color:white;
    &:hover{
        color: #FFA500;
    }
}

.navbar-collapse{
    transition: all 0.1s;
}

.navbar-collapse.show {
    background-color: #082B3A; /* Couleur de fond du menu déroulant */
}

.btn{
    background-color: #3308f2;
    color:white;
        &:hover{
            background-color: #08f24a;
    }
}

.welcome-image{
    width: 325px;
    height: auto;
}

.paragraphe__title{
    max-width: 600px;
    margin:auto;
}

.card{
    width: 18rem;
}

.card-img-top {
    border-radius: 50%;
}

.welcome-image{
    width: 40%;
    height: auto;
    border-radius: 20px;
}

@media screen and (max-width: 768px){
    .welcome-image{
        width: 100%;
    }
}


.form-pseudo{
    width: 50%;
    height: 50px;
    border-radius: 20px;
    border: 2px solid #6B491A;
    padding-left: 10px;
}

.form-text{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    border: 2px solid #6B491A;
    padding-left: 10px;
}

.form-submit{
    width: 15%;
    height: 50px;
    border-radius: 20px;
    border: 1px solid #6B491A;
    background-color: #6B491A;
    color: white;
    &:hover{
        background-color: #776223;
    }
}

@media (max-width: 320px) {
    .form-submit {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .form-submit {
        width: 50%;
    }
}

.btn-modal{
    width: 30%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #6B491A;
    background-color: #6B491A;
    color: white;
    &:hover{
        background-color: #776223;
    }
}

@media (min-width: 320px) {
    .btn-modal {
        width: 50%;
    }
}

.btn-close-modal{

    width: 30%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #C69966;
    background-color: #C69966;
    color: white;
    &:hover{
        background-color: #776223;
    }
}

.footer__background{
    width: 100%;
    height: auto;
    background-color: #082B3A;
    color: white;
}